{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{app_name}} | {% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms, typography"></script>
  </head>
  <body class="flex flex-col min-h-screen w-full bg-gray-100">
    {% include 'components/navbar.html'%}

    <main class="container mx-auto flex-grow py-4">
      <div id="alert-box" class="fixed top-50 right-4 z-50">
        {% for message in messages %}
        <div class="p-4 mb-2 rounded-lg shadow-lg text-orange-600 bg-gray-200">
          {{ message }}
        </div>
        {% endfor %}
      </div>

      {% block content %} {% endblock %}
    </main>

    <footer class="w-full bg-gray-900 text-white py-4">
      {% include 'components/footer.html' %}
    </footer>

    <script>
      const menuButton = document.getElementById("menu-button");
      const mobileMenu = document.getElementById("mobile-menu");

      menuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
      });

      setTimeout(() => {
        document.getElementById("alert-box").style.display = "none";
      }, 5000);
    </script>
  </body>
</html>
